@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2? family= Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600; 0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900 & display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Montserrat', sem serifa;
    /*height: 100%;*/
}

:root{
    --primeira-cor:#ffffff;
    --segunda-cor-texto:#393d3f;
    --terceira-cor:#778da9;
    --quarta-cor: #4e6787;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--primeira-cor);
}

.header{
    top: 0;
    left: 0;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100px;
}

.navbarr > a{
    font-size: 1.7rem;
    color: var(--segunda-cor-texto);
    font-weight: 700;
    margin: 60px;
    transition: .3s;
    cursor: pointer;
}

.navbarr > a:hover,
.navbarr > a.active{
    color: var(--quarta-cor);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--segunda-cor-texto);
    cursor: pointer;
    display: none;
}
/*Gerais -------------------------*/ 

.titulo{
    font-weight: 800;
    font-size: 28px;
}

.subtitulo{
    font-weight: 400;
    font-size: 18px;
}

/*Sessão inicio ------------------ */
.sessao{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:center;
    background-color: #ffffff;
    min-width: 320px;
    max-width: 1050px;
    padding: 70px;
    margin: auto;
}

.apresentacao{
    width: 600px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:center;
}

.perfil{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:center;
    height: 250px;
    width: 250px;
    border-radius: 150px;
    background-color: #778da9;
}
.anel{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:center;
    height: 240px;
    width: 240px;
    border-radius: 150px;
    background-color: #ffffff;
}

.fotoperfil{
    height: 230px;
    width: 230px;
    border-radius: 150px;
    background-color: #778da9;
}

.apresentacao > h2{
    font-weight: 500;
    font-size: 16px;
}

.apresentacao > h1{
    padding-top: 10px;
    font-weight: 900;
    font-size: 45px;
}

.apresentacao > p{
    padding-top: 22px;
    text-indent: 15px;
    text-align: justify;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px
}

.redessocias{
    padding-top: 10px;
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items:center;
    gap: 25px;
}

.iconeredes{
    padding-top: 10px;
    width: 33px;
    color: white;
}

/*Sessão educacao ------------------ */
.sessao2{
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items:center;
    gap: 90px;
}
.educacao{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:center;
    gap: 30px;
}

.curso{
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items:center;
}

.curso{
    width: 400px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:flex-start;
}
.linhax{
    background: #4e6787;
    width: 400px;
    height: 4px;
}

.linhay{
    background: #4e6787;
    width: 4px;
    height: 126px;
}

.sessao2 > .educacao > .curso > h1{
    font-weight: 800;
    font-size: 18px;
}

.sessao2 > .educacao > .curso > h2{
    font-weight: 500;
    font-size: 15px;
}

.sessao2 > .educacao > .curso > p{
    font-weight: 300;
    font-size: 13px;
    text-align: justify;
    padding-bottom: 7px;
}

/*Sessão Habilidades ------------------ */
.sessao3{
    padding-top: 80px;
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items:center;
    gap: 10px;
}
.programacao{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:center;
    gap: 2px;
}

.arte{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:center;
    gap: 0px;
    padding-top: 30px;
}

.container{
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items:center;
    width: 320px;
    width: 1050px;
    background-color: rgb(255, 255, 255);
    gap: 30px;
    padding-top: 20px;
}
.linguagem{
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items:center;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    gap: 10px;
}

.logo-icon{
    width: 30px;
}

/*Estilos das linguagens*/
#codigo{
    background-color: var(--quarta-cor);
    color: white;
    border: 4px solid var(--quarta-cor);
    transition: .3s;
}

#codigo:hover{
    background-color: #4e6787;
    border-radius: 25px;
    box-shadow: 0px 15px 20px #4e6787a1;
    transform: translateY(-7px)
}

/*Estilos das programas*/
#programa{
    color: var(--quarta-cor);
    transition: .3s;
}
#programa:hover{
    border-radius: 25px;
    transform: translateY(-7px)
}

/*Sessão Projetos ------------------ */

.sessao4{
    padding-top: 60px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:center;
    gap: 5px;
}
.prontos{
    padding-top: 20px;
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items:center;
    gap: 40px;
}

.projetos{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:center;
    gap: 10px;
}

.imagemprojeto{
    width: 300px;
    border-radius: 15px;
}

.projetos{
    transition: .3s;
}
.projetos:hover{
    transform: translateY(-7px)
}

.desenhos{
    padding-top: 30px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:center;
    gap: 10px;
}

.design{
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items:center;
    gap: 10px;
}

.imagemilustracao{
    width: 150px;
}

/*Sessão contato ------------------ */
.sessao5{
    padding-top: 40px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:center;
    gap: 5px;
}

.finalizacao{
    width: 600px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:center;
}

.final{
    padding-top: 10px;
    font-weight: 800;
    font-size: 25px;
}
.textofinal{
    padding-top: 10px;
    font-weight: 300;
    font-size: 15px;
    text-align: justify;
    text-indent: 10px;
}