@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2? family= Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600; 0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900 & display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    overflow-x: hidden;
    outline: none;
    font-family: 'Montserrat', sem serifa;
    /*height: 100%;*/
}

:root{
    --primeira-cor:#ffffff;
    --segunda-cor-texto:#393d3f;
    --terceira-cor:#778da9;
    --quarta-cor: #4e6787;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--primeira-cor);
}
/*Gerais -------------------------*/ 

.titulo{
    font-weight: 800;
    font-size: 25px;
}

.subtitulo{
    font-weight: 400;
    font-size: 16px;
}

/*Sessão inicio ------------------ */
.sessao{
    padding-top: 100px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:center;
    margin: auto;
}

.apresentacao{
    width: 300px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:center;
}

.perfil{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:center;
    height: 250px;
    width: 250px;
    border-radius: 150px;
    background-color: #778da9;
}
.anel{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:center;
    height: 240px;
    width: 240px;
    border-radius: 150px;
    background-color: #ffffff;
}

.fotoperfil{
    height: 230px;
    width: 230px;
    border-radius: 150px;
    background-color: #778da9;
}

.apresentacao > h2{
    font-weight: 600;
    font-size: 16px;
}

.apresentacao > h1{
    padding-top: 10px;
    font-weight: 900;
    font-size: 30px;
}

.apresentacao > h3{
    padding-top: 10px;
    font-weight: 600;
    font-size: 20px;
}

.apresentacao > p{
    padding-top: 22px;
    text-indent: 15px;
    text-align: justify;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px
}

/*Sessão educacao ------------------ */
.sessao2{
    padding-top: 80px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:center;
    gap: 30px;
}
.educacao{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:center;
    gap: 30px;
}

.curso{
    width: 300px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:flex-start;
}

.linhax{
    background: #4e6787;
    width: 300px;
    height: 4px;
}

.sessao2 > .educacao > .curso > h1{
    font-weight: 800;
    font-size: 16px;
}

.sessao2 > .educacao > .curso > h2{
    font-weight: 500;
    font-size: 15px;
}

.sessao2 > .educacao > .curso > p{
    font-weight: 300;
    font-size: 13px;
    text-align: justify;
    padding-bottom: 7px;
}

/*Sessão Habilidades ------------------ */
.sessao3{
    padding-top: 80px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:center;
    gap: 10px;
}
.programacao{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:center;
    gap: 2px;
}

.container{
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items:center;
    gap: 10px;
    padding-top: 10px;
}

.arte{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:center;
    gap: 0px;
    padding-top: 10px;
}

.container2{
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items:center;
    gap: 10px;
    padding-top: 10px;
}

.linguagem{
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items:center;
    width: 120px;
    height: 33px;
    border-radius: 5px;
    gap: 5px;
}

.logo-icon{
    width: 17px;
}

/*Estilos das linguagens*/
#codigo{
    background-color: var(--quarta-cor);
    color: white;
    border: 4px solid var(--quarta-cor);
    transition: .3s;
}

#codigo:hover{
    background-color: #4e6787;
    border-radius: 6px;
    box-shadow: 0px 10px 10px #4e678763;
    transform: translateY(-3px)
}

/*Estilos das programas*/
#programa{
    color: var(--quarta-cor);
    transition: .3s;
}
#programa:hover{
    transform: translateY(-3px)
}

/*Sessão Projetos ------------------ */

.sessao4{
    padding-top: 80px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:center;
}

.prontos{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:center;
}

.projetos{
    padding-top: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:center;
}

.imagemprojeto{
    width: 280px;
    border-radius: 15px;
}

.projetos{
    transition: .3s;
}
.projetos:hover{
    transform: translateY(-7px)
}

.desenhos{
    padding-top: 30px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:center;
    gap: 10px;
}

.design{
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items:center;
    gap: 10px;
}

.imagemilustracao{
    width: 100px;
}

/*Sessão contato ------------------ */
.sessao5{
    padding-top: 80px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:center;
    gap: 5px;
    padding-bottom: 50px;
}

.finalizacao{
    width: 300px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:center;
    padding-bottom: 10px;
}

.finalizacao > h2{
    font-weight: 400;
    font-size: 12px;
}

.redessocias{
    padding-top: 5px;
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items:center;
    gap: 25px;
}

.iconeredes{
    padding-top: 10px;
    width: 33px;
    color: white;
}

.email{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:center;
    width: 290px;
    height: 40px;
    border-radius: 12px;
    background-color: var(--segunda-cor-texto);
}

.email > h1{
    font-weight: 600;
    font-size: 15px;
    color: white;
}